/**
 * Variables
 */
 
 /* General
-------------------------------------- */
 
// Units and base sizes
$base-unit: 0.8rem !default;
$base-size: 1.8rem !default;
$base-line: 3.0rem !default;


 /* Typography
-------------------------------------- */

// Font family
$font-heading: 	'Roboto', sans-serif !default;
$font-body:		'Roboto', sans-serif !default;

// Scale
$font-sizes: (
	'xxs': 	1.6rem,			// small
	'xs': 	$base-size,		// p, h5, h6
	's': 	2.0rem,			// h4
	'm': 	2.4rem,			// h3
	'l': 	3.2rem,			// 
	'xl': 	4.0rem,			// h2
	'xxl': 	4.8rem			// h1
) !default;

$line-heights: (
	'xxs': 	1.8rem,			// small
	'xs': 	$base-line,		// p, h5, h6
	's': 	$base-line,		// h4
	'm': 	3.2rem,			// h3
	'l': 	4.2rem,			// 
	'xl': 	4.8rem,			// h2
	'xxl': 	5.4rem			// h1
) !default;

// Weights
$light: 	300 !default;
$normal: 	400 !default;
$bolder: 	600 !default;
$bold: 		700 !default;


/* Layout
-------------------------------------- */
 
// Breakpoints
$breakpoints: (
	'xs': 	( min-width:   512px ),
	's': 	( min-width:   768px ),
	'm': 	( min-width:   896px ),
	'l': 	( min-width:  1152px ),
	'xl': 	( min-width:  1280px )
) !default;

// Main layout
$inner-max-width: 	1200px !default;
$width-content: 		73% !default;
$width-sidebar: 		25% !default;

// Spacing - Units
$space-xxs: 0.8rem !default;	// 8px
$space-xs: 	1.6rem !default;	// 16px
$space-s: 	3.2rem !default;	// 32px
$space-m: 	6.4rem !default; 	// 64px
$space-l: 	8.0rem !default; 	// 80px
$space-xl: 	9.6rem !default; 	// 96px
$space-xxl: 12.8rem !default; 	// 128px


/* Color Scheme
-------------------------------------- */

// General
$color-primary: 	#2A9880 !default;
$color-text: 		#222 !default;

$color-error: 		#D32F2F !default;
$color-warning: 	#EF6C00 !default;
$color-success:		#4CAF50 !default;

$color-white: 		#fff !default;
$color-grey-5: 		#f5f5f5 !default;
$color-grey-10: 	#e5e5e5 !default;
$color-grey-20: 	#cccccc !default;
$color-grey-30: 	#b2b2b2 !default;
$color-grey-40: 	#999999 !default;
$color-grey-50: 	#7f7f7f !default;
$color-grey-60: 	#666666 !default;
$color-grey-70: 	#4c4c4c !default;
$color-grey-80: 	#333333 !default;
$color-grey-90: 	#191919 !default;
$color-black: 		#000 !default;

$color-text-tint: 		lighten($color-text, 10%) !default;
$color-text-shade: 		darken($color-text, 10%) !default;

$color-primary-tint: 	lighten($color-primary, 10%) !default;
$color-primary-shade: 	darken($color-primary, 10%) !default;

$color-error-tint: 		lighten($color-error, 10%) !default;
$color-error-shade: 	darken($color-error, 10%) !default;

$color-warning-tint: 	lighten($color-warning, 10%) !default;
$color-warning-shade: 	darken($color-warning, 10%) !default;

$color-success-tint: 	lighten($color-success, 10%) !default;
$color-success-shade: 	darken($color-success, 10%) !default;


/* Features
-------------------------------------- */

// Borders
$radius: 		0.4rem !default;
$inner-radius: 	0.2rem !default;
$border: 		0.1rem solid $color-grey-20 !default;

// Transitions
$transition: 	all 0.2s ease-in-out !default;

// Shadows
$shadow: 0px 20px 40px rgba(0, 0, 0, 0.03) !default;


/* Design
-------------------------------------- */

// Body
$color-text-body:		$color-text !default;
$color-bg-body: 		$color-grey-5 !default;
$color-links:			$color-primary !default;
$color-links-hover:		$color-text !default;

// Header - .site-header
$color-text-header:		$color-text !default;
$color-bg-header: 		none !default;

// Navigation

// Main - .site-inner
$space-inner: 			$space-s !default;
$color-bg-inner: 		none !default;

// Content - .content
$color-bg-content: 		none !default;

// Entries - .entry
$color-bg-entry: 		$color-white !default;
$space-entry: 			$space-m !default;

// Sidebar - .sidebar
$color-bg-sidebar: 		none !default;

// Sidebar widgets - .sidebar .widget
$color-text-widget:		$color-text !default;
$color-bg-widget: 		none !default;
$space-sidebar-widget: 	$space-s !default;

// Footer - .site-foooter
$color-text-footer:		$color-text !default;
$color-bg-footer: 		none !default;