/**
 * Buttons
 */


/* Defaults
-------------------------------------- */

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: $color-text;
	color: $color-white;
	
	border: 2px solid $color-text;
	border-radius: $radius;
	
	cursor: pointer;
	
	@include type-set('xxs');
	font-weight: $bolder;
	text-decoration: none;
	
	transition: $transition;
	
	padding: 1.2rem 2.0rem;
	
	white-space: normal;
	width: auto;
	
	&:hover,
	&:focus {
		background-color: $color-text-tint;
		color: $color-white;
		border-color: $color-text-tint;
	}
}


/* Colors
-------------------------------------- */

.button-primary,
input[type="submit"] {
	background-color: $color-primary;
	border-color: $color-primary;
	
	&:hover,
	&:focus {
		background-color: $color-primary-tint;
		border-color: $color-primary-tint;
	}
}

.button-secondary {
	background-color: $color-grey-10;
	color: $color-grey-80;
	border-color: $color-grey-10;
	
	&:hover,
	&:focus {
		background-color: $color-grey-20;
		color: $color-grey-90;
		border-color: $color-grey-20;
	}
}


/* Styles
-------------------------------------- */
.button-hollow {
	background: none;
	color: $color-text;
}

.button-hollow.button-primary {
	background: none;
	color: $color-primary;
	
	&:hover,
	&:focus {
		background-color: $color-primary-tint;
		color: $color-white;
		border-color: $color-primary-tint;
	}
}

.button-hollow.button-secondary {
	background: none;
	color: $color-grey-60;
	
	&:hover,
	&:focus {
		background-color: $color-grey-20;
		color: $color-grey-90;
		border-color: $color-grey-20;
	}
}


/* Sizes
-------------------------------------- */
.button-large {
	@include type-set('xs');
	padding: 1.2rem 2.8rem;
}

.button-small {
	font-size: 1.5rem;
	padding: 0.8rem 1.6rem;
}


/* States
-------------------------------------- */
button[disabled=disabled] {
	background-color: $color-grey-10;
	color: $color-grey-50;
	border-color: $color-grey-10;
	
	cursor: not-allowed;
	
	&:hover,
	&:focus {
		background-color: $color-grey-10;
		color: $color-grey-50;
		border-color: $color-grey-10;
	}
}