/**
 * Sidebar
 */

/* Widgets
-------------------------------------- */

.sidebar .widget {
	background: $color-bg-widget;
	border-radius: $radius;
	
	@include type-set('xxs');
	
	margin-bottom: 1.6rem;
	padding: 5%;
	
	@include respond-to('m') {
		padding: $space-sidebar-widget;
	}
}