.content {
	.entry:first-of-type .entry-title {
		margin-top: 0;
	}
}

.entry-content {
	text-rendering: optimizeLegibility;

	code {
		background-color: $colorUltraLight;
		border: 1px solid $colorLight;
		padding: 3px;
	}
}

p.entry-meta {
	font-size: .8em;
	font-style: italic;
}

.comment-header {
	margin-bottom: 20px;
	overflow: hidden;
}

.comment-author {
	margin: 0;
}

.comment .avatar {
	float: left;
	margin: 0 10px 0 0;

	@include breakpoint-up( md ) {
		margin-right: 24px;
	}
}

.says,
.comment-meta,
.comment-edit-link {
	font-size: .8em;
	font-style: italic;
	margin: 0;
}

.comment-reply {
	clear: both;
}

li.pingback,
li.comment > article {
	margin-bottom: 40px;
}

ul.children {
	margin-left: 10px;

	@include breakpoint-up( md ) {
		margin-left: 40px;
	}
}

.comment-reply-title > small,
.logged-in-as {
	font-family: $fontBody;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}

.pagination {
	overflow: hidden;
	padding: 40px 0;

	ul {
		text-align: center;
	}

	li {
		display: inline-block;

		&.active a {
			border: 0;
			font-weight: bold;
		}
	}

	a {
		font-style: italic;
		margin: 0 10px;
	}

	.pagination-next,
	.pagination-previous {
		display: block;
		width: 100%;

		@include breakpoint-up( md ) {
			display: inline-block;
			width: auto;
		}
	}

	@include breakpoint-up( md ) {
		.pagination-next {
			float: right;
		}

		.pagination-previous {
			float: left;
		}
	}
}