.archive-description,
.author-box {
    padding: 40px 0;

    p:last-child {
    	margin-bottom: 0;
    }
}

.author-box {
	font-size: .8em;
	margin: 20px 0 40px;

	.avatar {
		margin: 0 0 24px 24px;
		max-width: 70px;
	}

	@include breakpoint-up( md ) {
		font-size: 18px;

		.avatar {
			max-width: 100%;
		}
	}

}

.archive-description {
	margin: 0 0 40px;
}

.breadcrumb {
	font-size: .8em;
	font-style: italic;
	margin-bottom: 20px;
}