.genesis-nav-menu {
	clear: both;
	line-height: 1;

	@include breakpoint-up( lg ) {
		clear: both;
		line-height: 1;
		text-align: left;
	}

	.menu-item {
		display: block;
		position: relative;
		text-align: right;

		@include breakpoint-up( lg ) {
			display: inline-block;
			position: relative;
			text-align: left;
		}

		> a {
			padding: 20px;
		}
	}

	a {
		border-bottom: 1px solid $colorLight;
		display: block;
		padding: 20px 10px;
		text-align: left;

		@include breakpoint-up( lg ) {
			border-bottom: 0;
			display: block;
			padding: 20px;
		}
	}

	@include breakpoint-up( lg ) {
		> .menu-item > a {
			padding: 20px;
		}
	}

	.sub-menu {
		@include breakpoint-up( lg ) {
			display: none;
			left: 0;
			margin-left: 0;
			position: absolute;
			width: 200px;
			z-index: 99;

			a,
			.menu-item {
				display: block;
			}

			.menu-item-has-children:hover > .sub-menu {
				display: block;
				left: auto;
			}
		}

		a {
			background: $colorUltraLight;
			font-size: .8em;
			padding-left: 40px;
			word-wrap: break-word;

			@include breakpoint-up( lg ) {
				border-top: 0;
				padding: 20px;
				word-wrap: break-word;
			}
		}

		.sub-menu {
			@include breakpoint-up( lg ) {
				margin: -1px 0 0 198px;
				top: 0;
			}

			a {
				padding-left: 60px;

				@include breakpoint-up( lg ) {
					padding: 20px;
				}
			}
		}
	}
}

.nav-primary,
.nav-secondary {
	background: $colorUltraLight;
	display: block;
	height: auto;
	overflow: visible;
	padding: 0;
	position: static;

	@include breakpoint-up( lg ) {
		> .wrap {
			max-width: $break-large;
			padding: 0 40px;
		}

		.genesis-nav-menu {
			> .menu-item:first-child > a {
				padding-left: 0;
			}

			> .menu-item:last-child > a {
				padding-right: 0;
			}
		}
	}

}