html {
	/**
	  * Set the default browser size to 10px. This is in sync with the base
	  * size set in gulpfile.js for the px-to-rem module.
	  */
    font-size: 62.5%;
}

a {
	color: $linkDefault;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $default;
	}
}

p {
	margin: 0 0 1.3em 0;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.entry-content,
.footer-widgets {

	ol,
	ul {
		margin-bottom: 28px;
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid $colorLight;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 3px solid $colorUltraDark;
	color: $colorUltraDark;
	margin: 1.3em 0;
	padding-left: 10px;

	@include breakpoint-up( md ) {
		font-size: 1.3em;
		padding-left: 40px;
	}
}

small,
cite {
	font-size: 0.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $colorUltraDark;
	font-family: $fontHeading;
	font-weight: 700;
	margin: 1.414em 0 0.5em;
}

h1,
.entry-title {
	font-size: 32px;

	@include breakpoint-up( md ) {
		font-size: 40px;
		line-height: 1.25em;
	}

	@include breakpoint-up( lg ) {
		font-size: 48px;
		line-height: 1.05em;
	}
}

h2 {
	font-size: 26px;
	line-height: 1.15em;

	@include breakpoint-up( md ) {
		font-size: 32px;
		line-height: 1.25em;
	}

	@include breakpoint-up( lg ) {
		font-size: 36px;
		line-height: 1.25em;
	}
}

h3 {
	font-size: 22px;
	line-height: 1.13em;

	@include breakpoint-up( md ) {
		font-size: 24px;
		line-height: 1.25em;
	}

	@include breakpoint-up( lg ) {
		font-size: 28px;
		line-height: 1.25em;
	}
}

h4,
h5,
h6 {
	font-size: 18px;
	line-height: 1.1em;

	@include breakpoint-up( md ) {
		font-size: 18px;
		line-height: 1.22em;
	}

	@include breakpoint-up( lg ) {
		font-size: 20px;
		line-height: 1.25em;
	}
}

/*----------  Site Header  ----------*/

.site-title {
	font-family: $fontHeading;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
	margin: 0;

	&,
	a {
		color: $colorUltraDark;
	}

	@include breakpoint-up( lg ) {
		font-size: 30px;
	}
}

.site-description {
	display: none;
	font-size: 1em;
}

.widget-title,
.footer-widgets .widget-title,
.sidebar .entry-title {
	font-size: 22px;
	margin-top: 0;
}

.footer-widgets .widget-title {
	margin-top: 0;
}

.author-box-title {
	font-size: 18px;
	margin-top: 0;
}

.archive-title {
	margin: 0;
}