.widget {
	word-wrap: break-word;

	ol > li {
		list-style-position: inside;
		list-style-type: decimal;
		padding-left: 20px;
		text-indent: -20px;
	}

	li li {
		border: 0;
		margin: 0 0 0 30px;
		padding: 0;
	}
}

.widget_calendar {
	table {
		width: 100%;
	}

	th,
	td {
		text-align: center;
	}
}

.header-widget-area {
	display: none;
	max-width: 600px;
	width: 100%;
}

.sidebar .widget {
	margin-bottom: 40px;
}

.footer-widgets {
	clear: both;
	overflow: hidden;
	padding: 40px 10px;

	@include breakpoint-up( md ) {
		padding-left: 40px;
		padding-right: 40px;

		@include breakpoint-up( lg ) {
			margin-top: 40px;
		}
	}

	.widget {
		margin-bottom: 40px;
	}
}

@include breakpoint-up( md ) {
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		float: left;
		margin-left: 2.564102564102564%;
		width: 31.623931623931625%;
	}

	.footer-widgets-1 {
		margin-left: 0;
	}
}

@include breakpoint-up( lg ) {
	.sidebar,
	.header-widget-area {
		display: block;
	}
}