a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-style: italic;
	text-align: center;

	.entry-content & {
		margin-bottom: 0;
	}
}

.entry-content {
	.wp-audio-shortcode,
	.wp-playlist,
	.wp-video {
		margin: 0 0 28px;
	}
}

// Force fixed position on mobile.
#wpadminbar {
	position: fixed !important;
}

.gallery {
	overflow: hidden;

	img {
		border: 1px solid $colorLight;
		height: auto;
		padding: 4px;

		&:hover,
		&:focus {
			border: 1px solid $colorLight;
		}
	}
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;

	.gallery-columns-2 {
		width: 50%;
	}

	.gallery-columns-3 {
		width: 33%;
	}

	.gallery-columns-4 {
		width: 25%;
	}

	.gallery-columns-5 {
		width: 20%;
	}

	.gallery-columns-6 {
		width: 16.6666%;
	}

	.gallery-columns-7 {
		width: 14.2857%;
	}

	.gallery-columns-8 {
		width: 12.5%;
	}

	.gallery-columns-9 {
		width: 11.1111%;
	}
}

.avatar {
	float: right;

	.alignleft & {
		margin-left: 24px;
	}

	.alignright & {
		margin-left: 24px;
	}
}

